@import (less)"./styles.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

body {
  background-color: #000;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}
section,
header {
  .container;
}
header+section {
  margin-top: 30px;
}
section>div {
   .row;
}
section>div>div {
  .col-xs-2;
}
section>div>div:first-child {
  .col-xs-offset-2;
}
section>div>div>div {
  text-align:center;
  width:150px;
  height:150px;
  border: 2px solid #fff;
  border-radius: 75px;  
}
h2 {
  font-size: 80px;
  margin-bottom: 0px;
}
h3 {
  margin-top: 0px;
  font-size: 14px;
}


[v-cloak] {
  display: none;
}
